<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue</title>
	<link rel="stylesheet" href="css/style__list.css">
	<link rel="stylesheet" href="css/burger-style.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,900&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script src="js/burger-script.js"></script>
</head>
<body>
 <div class="wrapper">
 	<div class="page">
 		<header>
			<div class="container">
	 			<div class="header__body">
	 				<a href="#" class="header__logo"><img src="img/logo.png" alt="" width="80px"></a>
	 				<div class="header__burger">
						<span></span>
					</div>
	 				<nav class="header__menu">
	 					<ul class="header__list">
	 						<li><a href="main.html" class="header__link">Home</a></li>
	 						<li><a href="#list__section" class="header__link">People</a></li>
	 						<li><a href="#foot" class="header__link">Contact</a></li>
	 					</ul>
	 				</nav>
	 				<div class="login">
	 					<a href="login/login.html" class="header__btn">Login</a>
	 				</div>
	 			</div>
	 		</div>
 		</header>
	 	<section id="list__section">
	 		<div class="container">
	 			<h1>Participants</h1>
	 			<input 
	 			type="text" 
	 			id="search" 
	 			placeholder="name, age, country, work place"
	 			v-model="search"
	 			>
				<div class="people">
					<div class="people__item" v-for="man in filterMans">
						<div class="people__img"><a href="#"><img v-bind:src="man.image" alt="" width="200px"></a></div>
						<ul class="people__text">
							<li class="people__name">name:<span> {{man.name}}</span></li>
							<li class="people__age">age: <span>{{man.age}}</span></li>
							<li class="people__country">country:<span>{{man.country}}</span></li>
							<li class="people__work">work: <span>{{man.work}}</span></li>
							<li class="people__about">about: <span>{{man.about}}</span></li>
						</ul>
					</div>
				</div>
	 		</div>
	 	</section>
	 	<footer id="foot">
	 		<div class="container">
	 			<div class="footer">
	 				<ul class="footer__link">
	 					<li><a href="#">Телефон: +7 (495) 000-00-00</a></li>
	 					<li><a href="#">email: saartapa@sk.ru</a></li>
	 					<li><a href="#">© Startup 2020. All rights reserved</a></li>
	 					<li><a href="#">Free registration</a></li>
	 				</ul>
	 				<button>Donate</button>
	 			</div>
	 		</div>
	 	</footer>
 </div>
</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/main.js"></script>
	<script src="js/list.js"></script>
</body>
</html>